.section-container {
    min-height: 100% !important;
    height: auto !important;
}

.section-content-container {
    flex-direction: column !important;
}

.aboutus-image-line {
    box-sizing: border-box;
    border-radius: 10px;
    flex-direction: row;
    display: flex;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.aboutus-image-line img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.aboutus-image-line > div {
    position: relative;
    overflow: hidden;
}

.aboutus-image-line > div:hover {
    cursor: pointer;
}

.aboutus-image-line > div:nth-child(1):hover > div {
    transition: transform 0.5s;
    transform: translateX(0%);
}

.aboutus-image-line > div:nth-child(2):hover > div {
    transition: transform 0.5s;
    transform: translateX(0%);
}

.aboutus-image-line > div:nth-child(1) > div {
    transform: translateX(-101%);
    transition: transform 0.5s;
}

.aboutus-image-line > div:nth-child(2) > div {
    transform: translateX(101%);
    transition: transform 0.5s;
}

.aboutus-image-line > div > div {
    background-color: rgba(13, 13, 13, 0.5);
    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    display: flex;
    padding: 20px;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.aboutus-image-detail-title {
    font-family: inter-semibold;
    margin-bottom: 10px;
    color: #FF001F;
    font-size: 22px;
}

.aboutus-image-detail-description {
    font-family: inter-regular;
    font-size: 14px;
    color: white;
}

@media screen and (max-width: 950px) {
    .aboutus-image-line {
        flex-direction: column;
    }
}
