@font-face {
    font-family: inter-regular;
    src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: inter-light;
    src: url("../fonts/Inter-Light.ttf");
}

@font-face {
    font-family: inter-semibold;
    src: url("../fonts/Inter-SemiBold.ttf");
}

@font-face {
    font-family: inter-bold;
    src: url("../fonts/Inter-Bold.ttf");
}

@font-face {
    font-family: inter-medium;
    src: url("../fonts/Inter-Medium.ttf");
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    background-color: #e3e3e3;
    font-family: inter-regular;
    height: 100%;
    width: 100%;
}

.header-table {
    display: table;
    width: 100%;
}

.header-table-cell {
    background-color: white;
    display: table-cell;
    padding: 10px;
    width: 100%;
}

.header-container {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    user-select: none;
    display: flex;
    width: 100%;
}

.header-content-container {
    flex-direction: row;
    align-items: center;
    user-select: none;
    display: flex;
    gap: 10px;
}

.click-event:hover {
    user-select: none;
    cursor: pointer;
    opacity: 0.75;
}

.click-event:active {
    transform: translateY(2px);
    transition: transform 0.1s;
    user-select: none;
}

button {
    background-color: #FF001F;
    border: 2px solid #FF001F;
    font-family: inter-semibold;
    border-radius: 50px;
    padding: 12px 60px;
    user-select: none;
    font-size: 16px;
    color: white;
}

button:hover {
    user-select: none;
    cursor: pointer;
    opacity: 0.75;
}

button:active {
    transform: translateY(2px);
    transition: transform 0.1s;
    user-select: none;
}

button.filled {
    background-color: #FF001F;
    color: white;
}

button.outline {
    background-color: transparent;
    border: 2px solid #FF001F;
    color: #FF001F;
}

button.ghost {
    background-color: transparent;
    border: 2px solid transparent;
    color: #FF001F;
}

.header-logo {
    border-radius: 50%;
    height: 65px;
    width: 65px;
}

.header-content {
    flex-direction: column;
    display: flex;
    gap: 4px;
}

.header-content span:nth-child(1) {
    font-family: inter-semibold;
    color: #FF001F;
    font-size: 22px;
}

.header-content span:nth-child(2) {
    font-family: inter-regular;
    color: #2E2E2E;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #232323;
}

a:hover {
    text-decoration: none;
    color: #FF001F;
}

.nav-container {
    display: flex;
    gap: 10px;
}

.footer-container {
    justify-content: space-between;
    background-color: white;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 20px 30px;
    user-select: none;
    display: flex;
    width: 100%;
}

.footer-logo {
    height: 50px;
}
