@font-face {
    font-family: inter-regular;
    src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: inter-light;
    src: url("../fonts/Inter-Light.ttf");
}

@font-face {
    font-family: inter-semibold;
    src: url("../fonts/Inter-SemiBold.ttf");
}

@font-face {
    font-family: inter-bold;
    src: url("../fonts/Inter-Bold.ttf");
}

@font-face {
    font-family: inter-medium;
    src: url("../fonts/Inter-Medium.ttf");
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    background-color: #e3e3e3;
    font-family: inter-regular;
    height: 100%;
    width: 100%;
}

.header-table {
    display: table;
    width: 100%;
}

.header-table-cell {
    background-color: white;
    display: table-cell;
    padding: 10px;
    width: 100%;
}

.header-container {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    user-select: none;
    display: flex;
    width: 100%;
}

.header-content-container {
    flex-direction: row;
    align-items: center;
    user-select: none;
    display: flex;
    gap: 10px;
}

.click-event:hover {
    user-select: none;
    cursor: pointer;
    opacity: 0.75;
}

.click-event:active {
    transform: translateY(2px);
    transition: transform 0.1s;
    user-select: none;
}

button {
    background-color: #FF001F;
    border: 2px solid #FF001F;
    font-family: inter-semibold;
    border-radius: 50px;
    padding: 12px 60px;
    user-select: none;
    font-size: 16px;
    color: white;
}

button:hover {
    user-select: none;
    cursor: pointer;
    opacity: 0.75;
}

button:active {
    transform: translateY(2px);
    transition: transform 0.1s;
    user-select: none;
}

button.fill-container {
    width: 100%;
}

button.filled {
    background-color: #FF001F;
    color: white;
}

button.outline {
    background-color: transparent;
    border: 2px solid #FF001F;
    color: #FF001F;
}

button.ghost {
    background-color: transparent;
    border: 2px solid transparent;
    color: #FF001F;
}

.header-logo {
    border-radius: 50%;
    height: 65px;
    width: 65px;
}

.header-content {
    flex-direction: column;
    display: flex;
    gap: 4px;
}

.header-content span:nth-child(1) {
    font-family: inter-semibold;
    color: #FF001F;
    font-size: 22px;
}

.header-content span:nth-child(2) {
    font-family: inter-regular;
    color: #2E2E2E;
    font-size: 18px;
}

.mobile-menu-button {
    display: none;
    padding: 10px;
}

.mobile-menu-button:hover {
    color: #FF001F;
    cursor: pointer;
}

.side-menu-container {
    transform: translateX(-101%);
    transition: transform 1s;
    user-select: none;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.side-menu-filter {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    z-index: 99991;
    height: 100%;
    width: 100%;
}

.side-menu-filter:hover {
    cursor: pointer;
}

.side-menu-container.isActive {
    transform: translateX(0%);
    transition: transform 1s;
}

.side-menu-container .side-menu-content-container {
    backdrop-filter: blur(10px);
    background-color: rgba(250, 250, 250, 0.85);
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    z-index: 99992;
    display: flex;
    padding: 20px;
    height: 100%;
    width: 25em;
    bottom: 0;
    left: 0;
    top: 0;
}

.side-menu-container a {
    padding: 20px;
}

.side-menu-header-container {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    padding: 0px 20px;
    display: flex;
}

.side-menu-header-container > span {
    font-family:  inter-semibold;
    font-size: 24px;
}

.side-menu-header-container > i {
    padding: 10px;
}

.side-menu-header-container > i:hover {
    color: #FF001F;
    cursor: pointer;
}

.seperator {
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 1px;
}

.side-menu-seperator {
    margin-bottom: 10px;
}

@media screen and (max-width: 950px) {
    .mobile-menu-button {
        display: block;
    }
    .nav-container {
        display: none !important;
    }
}

a {
    text-decoration: none;
    color: #232323;
}

a:hover {
    text-decoration: none;
    color: #FF001F;
}

.nav-container {
    display: flex;
    gap: 10px;
}

.section-title {
    font-family: inter-bold;
    margin-bottom: 40px;
    color: #212121;
    font-size: 34px;
}

.section-container {
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    user-select: none;
    display: flex;
    padding: 40px;
    height: 75%;
    width: 100%;
}

.section-content-container {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 90%;
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 800px) {
    .section-container {
        height: "auto"
    }

    .section-content-container {
        justify-content: center;
        flex-direction: column;
    }
}

.text-input-container {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    width: 100%;
}

.text-input-container label {
    font-family: inter-semibold;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
    width: 100%;
}

.text-input-container input {
    font-family: inter-regular;
    border: 2px solid white;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    padding: 20px;
    width: 100%;
}

.text-input-container input:focus {
    border: 2px solid #FF001F;
    outline: none;
}

.multi-text-input-container {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    width: 100%;
}

.multi-text-input-container label {
    font-family: inter-semibold;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
    width: 100%;
}

.multi-text-input-container textarea {
    font-family: inter-regular;
    border: 2px solid white;
    border-radius: 10px;
    min-height: 150px;
    resize: vertical;
    font-size: 18px;
    outline: none;
    padding: 20px;
    width: 100%;
}

.multi-text-input-container textarea:focus {
    border: 2px solid #FF001F;
    outline: none;
}

.footer-container {
    justify-content: space-between;
    background-color: white;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 20px 30px;
    position: relative;
    user-select: none;
    display: flex;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer-logo {
    animation: nibgatLogo 1s infinite linear;
    height: 50px;
}

@keyframes nibgatLogo {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(-360deg);
    }
}
